@using proje1.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">

    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var k in Model)
    {


        <tr>
            <td> @k.Kategoriid</td>

            <td> @k.Kategoriad</td>

            <td><a href="/kategori/kategorisil/@k.Kategoriid" class="btn btn-danger">Sil</a></td>
            
            <td><a href="/kategori/kategorigetir/@k.Kategoriid" class="btn btn-success">Güncelle</a></td>

        </tr>

    }
</table>
<a href="/kategori/kategoriekle" class="btn btn-primary">Kategori Ekle</a>

 